{% extends 'index.html' %}
{% block left %}
<ul class="nav nav-stacked nav-pills" id="navlist">
  {% for k, v in menu.items %}
	<li {% if forloop.first %} class="active" {% endif %}onclick=changeStatus('{{v}}', '{{k}}') id='{{v}}'>
		<a href="#">{{ v }}</a>
	</li>
  {% endfor %}
</ul>

<script type="text/javascript">

function changeStatus (arg, arg2) {
	var a = document.getElementById ("navlist").getElementsByTagName ("li");
	for (var i = 0; i < a.length; i++) {
		a[i].className="";
	};
	document.getElementById (arg).className="active";
	// body...
}
</script>

{% endblock %}
{% block right %}
<button type="button" class="btn btn-success" onclick="window.location.href="#">
	统计过去一周销量
</button>

<button type="button" class="btn btn-success" onclick="window.location.href="#">
  预测今天销量
</button>

<button type="button" class="btn btn-success" onclick="window.location.href="#">
  预测明天销量
</button>
    
{% block rightleft%}
{% endblock %}
{% endblock %}
