{% extends 'index.html' %}
{% block left %}
<ul class="nav nav-stacked nav-pills" id="navlist">
  {% for v in menu %}
	<li {% if forloop.first %} class="active" {% endif %}onclick=changeStatus('{{v}}') id='{{v}}'>
		<a href="#">{{ v }}</a>
	</li>
  {% endfor %}
</ul>

<script type="text/javascript">

function changeStatus (arg) {
	var a = document.getElementById ("navlist").getElementsByTagName ("li");
	for (var i = 0; i < a.length; i++) {
		a[i].className="";
	};
	document.getElementById (arg).className="active";
	// body...
}
</script>

{% endblock %}
{% block right %}
<div class="col-md-6">
  {% include 'compdstr/map.html' %}
</div>
<div class="col-md-6">
  <h1> h2 </h1> 
</div>
{% endblock %}
