<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>ele个人中心</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <nav class="navbar navbar-default navbar-inverse" role="navigation">
            <div class="navbar-header">
              
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
              </button> <a class="navbar-brand" href="#">   个人中心    </a>
            </div>
            
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li {% if 'Document' == Choose %} class="active" {% endif %}>
                  <a href="{% url 'statisticOrder' %}">    预测  </a>
                </li>
                <li>
                  <a href="{% url 'compdstrindex' %}">    变化  </a>
                </li>
                <li>
                  <a href="{% url 'analyindex' %}">    挖掘  </a>
                </li>
                <li>
                  <a href="#">    评估  </a>
                </li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li>
                  <a href="#">hello mm</a>
                </li>
                <li>
                  <a href="#">Logout</a>
                </li>
              </ul>
            </div>
            
          </nav>
          <div class="container-fluid">
            <div class="row">
              {% block full%}
              {% block up %}
              <h1>  </h1>
              {% endblock %}
              <div class="col-md-2">
                {% block left %}
                <h1>  </h1>
                {% endblock %}
              </div>
              <div class="col-md-10">
                {% block right %}
                <h1>  </h1> 
                {% endblock %}
              </div>
              {% block down %}
              <h1>  </h1>
              {% endblock %}
              {% endblock %}
            </div>

          </div>
        </div>
      </div>
      
    </div>

  </body>
</html>
