{% extends 'compdstr/index.html' %}

{% block right %}
<body>
    <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
    <div id="main" style="height:400px"></div>
    <!-- ECharts单文件引入 -->
    <script src="http://echarts.baidu.com/build/dist/echarts.js"></script>
    <script type="text/javascript">
        // 路径配置
        require.config({
            paths: {
                echarts: 'http://echarts.baidu.com/build/dist'
            }
        });
        
        // 使用
        require(
            [
                'echarts',
                'echarts/chart/bar',
                'echarts/chart/line'// 使用柱状图就加载bar模块，按需加载
            ],
            function (ec) {
                // 基于准备好的dom，初始化echarts图表
                var myChart = ec.init(document.getElementById('main')); 
		var dates = [];
                var values = [];
                
                // 同步执行  
                $.ajaxSettings.async = false;  
                  
                // 加载数据  
                $.getJSON("{% url 'getChangeData'%}", function (json) {  
		    dates = json.dates;
                    values = json.values;
                });  
                option = {
		    title : {
			text: '历史销售数量',
		    },
		    tooltip : {
			trigger: 'axis'
		    },
		    legend: {
			data:['销售数量']
		    },
		    toolbox: {
			show : true,
			feature : {
			    mark : {show: true},
			    dataView : {show: true, readOnly: false},
			    magicType : {show: true, type: ['line', 'bar']},
			    restore : {show: true},
			    saveAsImage : {show: true}
			}
		    },
		    calculable : true,
		    xAxis : [
			{
			    type : 'category',
			    boundaryGap : false,
			    data : dates
			}
		    ],
		    yAxis : [
			{
			    type : 'value',
			    //axisLabel : {
				//formatter: '{value}'
			    //}
			}
		    ],
		    series : [
			{
			    name:'最大销售量',
			    type:'line',
			    data:values,
			    markPoint : {
				data : [
				    {type : 'max', name: '最大值'},
				    {type : 'min', name: '最小值'}
				]
			    },
			    markLine : {
				data : [
				    {type : 'average', name: '平均值'}
				]
			    }
			}
		    ]
		};
        
                // 为echarts对象加载数据 
                myChart.setOption(option); 
            }
        );
        
    </script>
</body>
{% endblock %}
