{% extends 'index.html' %}
{% block left %}
<ul class="nav nav-stacked nav-pills" id="navlist">
  {% for v in menu %}
	<li id='{{v}}'>
		<a href="{% url 'changeData' %}">{{ v }}</a>
	</li>
  {% endfor %}
</ul>

<script type="text/javascript">

function changeStatus (arg) {
	var a = document.getElementById ("navlist").getElementsByTagName ("li");
	for (var i = 0; i < a.length; i++) {
		a[i].className="";
	};
	document.getElementById (arg).className="active";
	// body...
}
</script>

{% endblock %}
{% block full %}
<div class="col-md-6">
  {% include 'analy/map1.html' %}
</div>
<div class="col-md-6">
  {% include 'analy/map2.html' %}
</div>
{% endblock %}
